<div id="floatingCirclesG" *ngIf='!isLoaded'>
	<div class="f_circleG" id="frotateG_01"></div>
	<div class="f_circleG" id="frotateG_02"></div>
	<div class="f_circleG" id="frotateG_03"></div>
	<div class="f_circleG" id="frotateG_04"></div>
	<div class="f_circleG" id="frotateG_05"></div>
	<div class="f_circleG" id="frotateG_06"></div>
	<div class="f_circleG" id="frotateG_07"></div>
	<div class="f_circleG" id="frotateG_08"></div>
</div>

<div class="mainContainer" *ngIf='isLoaded'>
	<div class="hierarchy groupAssignation">
		<div class="back" (click)='goBack()'>Back</div>
		<div class="groupsTable">
			<p>Chosen groups</p>
			<div class="chosenGroup" *ngFor="let tGroup of testGroups"
				[class]='selectedGroup != null && selectedGroup.GroupId == tGroup.GroupId ? "back-green chosenGroup" : "chosenGroup" '>
				<a (click)='selectTGroup(tGroup)' class='normal-link'> {{ tGroup.GroupName }} </a>
			</div>
			<input *ngIf="selectedGroup != null" type="date" class="lastDate" [(ngModel)]='Expires' 
				(change)='isDateEdited = true;'>
			<a class="buttonR tool" (click)="assignTest()">
				<span *ngIf="selectedGroup == null"> Select Group </span>
				<span *ngIf="selectedGroup != null && !containsTestGroup(selectedGroup.GroupId)"> Assign test </span>
				<span *ngIf="selectedGroup != null && !isDateEdited && containsTestGroup(selectedGroup.GroupId)"> Deassign test </span>
				<span *ngIf="selectedGroup != null && isDateEdited && containsTestGroup(selectedGroup.GroupId)"> Edit test </span>
			</a>
		</div>
		<p class="listof">Assignation {{ test.name }} to groups</p>
		<div class="hul" *ngIf='groups != null && groups.length > 0'>
			<groups [parentId]='null' [Groups]='groups'> </groups>
		</div>

	</div>
</div>