<div class="mainContainer">
	<div class="hierarchy groupAssignation">
		<div class="back" (click)="back()">Back</div>
		<p class="listof  h3" style="margin-bottom:0px;">Enter test name</p>
		<form method="post" (submit)="save()">
			<input type="text" name="testName" class="add ans ans1" required placeholder="test name" [(ngModel)]="testViewModel.name"
			/>
			<div class="question" *ngFor="let question of testViewModel.questions" id="{{ question.questionId }}">

				<textarea type="text" name="questionText" class="textarea" placeholder="Question text..."
				 required (change)="saveQText(question.questionId, questionText.value)" 
				 value="{{question.text}}" #questionText></textarea>
				
				<div class="testShort">Answers:</div>
				
				<select size="1" class="select relativeSelect" #questionType 
				(change)="saveQType(question.questionId, questionType.value)" >
					<option disabled>Choose type</option>
					<option value="radio" [selected]="(question.type == 0)" >single answer</option>
					<option value="checkbox" [selected]="(question.type == 1)" >multiple answer</option>
			   </select>
 
				<div class="form-group variant" *ngFor="let answer of question.answers">

					<div class="testShort rloc"></div>

					<input type="text" id="{{answer.answerId}}" class="add ans" value="{{answer.text}}" #answerText (change)="saveQAnswer(question.questionId, answer.answerId, answerText.value)"
						required />

					<a class="buttonR" (click)="deleteAnswer(question.questionId, answer.answerId)">×</a>
				</div>

				<a class="buttonR" (click)="confirmDelete(question.questionId)">Delete question</a>
				<a class="buttonR" (click)="addNewAnswer(question.questionId)">Add another variant</a> <br />
			</div>

			<a class="buttonR testOption aaq" (click)="addNewQuestion()">Add another question</a>
			<input type="submit" class="buttonR testOption aa" value="Save test" />
			<input type="reset" class="buttonR testOption aa" value="Reset" />
		</form>
	</div>
</div>

<a href="#x" class="overlay" id="deletebox"></a>
<div class="popup show" *ngIf="deletingQID != null">
	<p>Delete question</p>
	<p>Are you sure you want to delete question "{{getQuestionById(deletingQID).text}}" ? </p>
	<div style="text-align:center;">
		<a style="width:40%;" (click)="deleteQuestion()" class="buttonS">Yes</a>
		<a style="width:40%;" class="buttonS" (click)="confirmDelete(null)">No</a>
	</div>
	<a class="close" title="Закрыть" (click)='confirmDelete(null)'></a>
</div>