<div id="floatingCirclesG" *ngIf='!isLoaded'>
	<div class="f_circleG" id="frotateG_01"></div>
	<div class="f_circleG" id="frotateG_02"></div>
	<div class="f_circleG" id="frotateG_03"></div>
	<div class="f_circleG" id="frotateG_04"></div>
	<div class="f_circleG" id="frotateG_05"></div>
	<div class="f_circleG" id="frotateG_06"></div>
	<div class="f_circleG" id="frotateG_07"></div>
	<div class="f_circleG" id="frotateG_08"></div>
</div>

<div class="mainContainer" *ngIf="isLoaded">
	<div class="creationTools" *ngIf="groups == null || groups.length == 0 || selectedGroup != null">
		<a class="buttonS tool" *ngIf="selectedGroup != null" (click)='openEditModal(selectedGroup);'>
			Edit group
		</a><br>
		<a class="buttonS tool" *ngIf="selectedGroup != null" (click)="deletingGroup = selectedGroup;">
			Delete group
		</a><br>
		<a class="buttonS tool" *ngIf="selectedGroup != null" (click)="uploadFile()">
			Upload excel file
		</a><br>
		<a class="buttonS tool" *ngIf="selectedGroup != null" (click)="downloadFile()">
			Download excel example file
		</a><br>
		<a class="buttonS tool" (click)="addGroup()" *ngIf="groups == null || groups.length == 0 || selectedGroup != null "> 
			Add new group
		</a>
	</div>

	<div class="hierarchy">
		<p>Groups hierarchy</p>
		<div *ngIf='groups != null && groups.length > 0'>
			<groups [parentId]='null' [Groups]='groups'> </groups>
		</div>
	</div>

	<div class="menu">

	</div>
	<div class="usersTable">
		<p class="listof">Interviewer</p>
		<p> </p>
		<table *ngIf="selectedGroup != null && selectedGroup.interviewer != null">
			<tr class="person">
				<td>
					{{ selectedGroup.interviewer.surname}}
				</td>

				<td>
					{{ selectedGroup.interviewer.email}}
				</td>
			</tr>

		</table>
		<div *ngIf="selectedGroup != null && selectedGroup.interviewer == null">
			<h5> There are no interviewer in selected group </h5>
		</div>

		<p class="listof">List of users</p>
		<table *ngIf="selectedGroup != null && selectedGroup.users.length > 0">

			<tr *ngFor="let user of selectedGroup.users" class="person">

				<td>
					{{user.surname}}
				</td>

				<td>
					{{user.email}}
				</td>
			</tr>

		</table>
		<div *ngIf="selectedGroup != null && selectedGroup.users.length == 0">
			<h5> There are no user in selected group</h5>
		</div>
	</div>
	<a href="#x" class="overlay" id="editbox"></a>
	<div class="popup show" *ngIf="editingGroup != null;">
		<p>Edit group</p>
		<form>
			<div class="form-group">
				<div class="rloc">Name</div>
				<input class="form-control" [(ngModel)]="editingGroupName" name="name" />
			</div>
			<div style=text-align:center;>
				<input type='submit' style="width:40%;" class="close" value="Edit" (click)="updateGroup()" class="buttonS" />
				<input type='reset' style="width:40%;" class="close" value="Cancel" class="buttonS" (click)="editingGroup = null;" />
			</div>
		</form>

		<a class="close" title="Закрыть" (click)="editingGroup = null;"></a>
	</div>

	<a href="#x" class="overlay" id="deletebox"></a>
	<div class="popup show" *ngIf="deletingGroup != null">
		<p>Delete group</p>
		<p>Are you sure you want to delete {{checkedName}} group? </p>
		<div style="text-align:center;">
			<a style="width:40%;" (click)="deleteGroup()" class="buttonS">Yes</a>
			<a style="width:40%;" class="buttonS" (click)="deletingGroup = null;">No</a>
		</div>
		<a class="close" title="Закрыть" (click)='deletingGroup = null;'></a>
	</div>

	<a href="#x" class="overlay" id="newbox"></a>
	<div class="popup show" *ngIf="addingGroup != null">
		<p>New group</p>
		<form>
			<div class="form-group">
				<div class="rloc">Name</div>
				<input class="add" type=text [(ngModel)]="addingGroup.name" name="name" />

			</div>
			<div style="text-align:center;">
				<input type="submit" style="width:40%;" value="Create" (click)="createGroup()" class="buttonS" />
				<input type="reset" style="width:40%;" value="Cancel" href="#close" class="buttonS" (click)='addingGroup = null' />
			</div>
		</form>

		<a class="close" title="Закрыть" (click)='addingGroup = null'></a>
	</div>

<input type='file' hidden='hidden' id='fileInput' />