<ul class="ul-treefree ul-dropfree" *ngFor="let item of levelGroups">
	<li>
        <div *ngIf='hasSubGroups(item)' class='drop'></div>
		<div (click)="selectGroup(item)" [class]="selectedGroup != null && selectedGroup.id == item.id ? 'group group-active' : 'group'">
			{{item.name}}
			<p></p>
		</div>
        <div *ngIf='hasSubGroups(item)'>
            <groups [parentId]='item.id' [Groups]='Groups'> </groups>
        </div>
	</li>
</ul>