<div class="mainContainer">
    <div class="hierarchy groupAssignation">
        <div class="back" (click)='back()'>Back</div>
        <p class="listof" style="text-align:center;max-width:90%;font-size:xx-large;">Help</p>
        <div class="general">
            Welcome to the Social manager! Social Manager is the system that allows you to conduct surveys and testing of user groups.
            The main purpose is to monitor the psychological climate in the team.
        </div>
        <div class="terms">
            Common terms definition:
            <ul>
                <li>
                    Creator - an organisation manager who wants to improve the psychological climate in his company. Creator can construct the
                    hierarchy of groups, add list of group members via the Excel-spreadsheet.
                </li>
                <li>
                    Interviewer refers to the psychologist or other person who wants to improve colleagues relationships or, for example, check
                    manager’s work. Interviewer is a person who is responsible for creating, editing and assigning tests
                    to groups. Also he is responsible for analysing test results and writing recalls.
                </li>
                <li>
                    The respondent of a system is an adult person, who works with the team or studies at the university. The respondent can pass
                    tests and look through the recalls for the tests he has passed.
                </li>
            </ul>
        </div>
        <div class="instructions">
            <p class="listof" style="text-align:center;max-width:90%;font-size:xx-large;">Instruction</p>
            <p class="listof">Log in</p>
            <div style="display:inline-block;">
                <img src="help/login.jpg" style="float:left;" class="infoImage"> To enter the system you have to log in.
                The first page you enter is "login page". To authorise you must enter your login and password to appropriate
                fields and click on "Log in" button. If you don't have an account(and you want to be a creator) you shall
                click on "Sign in" link. If you are not a creator, you can enter your page via the link attached to the email.
            </div>
            <p class="listof">Sing in</p>
            <div style="display:inline-block;">
                <img src="help/signin.jpg" style="float:right;" class="infoImage"> After you followed the "Sign in" link
                you move to the "sign in page". To create a new account you must enter e-mail address, password, login, full
                name and phone number into appropriate fields and click on "Sign in" button.
            </div>
            <p class="listof">Functions of header</p>
            On the top of each page you can see a header that gives you some useful abilities. You can see your full name, role. Also
            you can edit profile and log out, when the work is over.
            <img src="help/layout.jpg" style="width:100%;">"
            <div class="creator opw" (click)="changeVisible('creator')">
                <p class="listof">Creator's page</p>
                <div *ngIf="creatorVisible">
                    If you entered as creator, you may perform such actions like adding new group to the hierarchy (click "Add new group" button),
                    editing group properties (click "Edit group" button having chosen one group), deleting groups (click
                    "Delete group" button having chosen one group),all subgroups will be deleted too, adding group members
                    from Excel-file (choose group and click "Extract from Excel"), looking through the group members. You
                    may add a new independent group to the hierarchy by clicking "Add new group" button without chosen group,
                    or add a subgroup by clicking "Add new group" button with chosen group (this group will be a root group
                    for the created one). Without having chosen any groups such buttons like "Edit group","Delete group","Extract
                    from Excel" will be invisible.
                    <img src="help/creator.jpg" style="width:100%;">
                </div>
            </div>
            <div class="interviewer opw" (click)="changeVisible('interviewer')">
                <p class="listof">Interviewer's page</p>
                <div *ngIf="interviewerVisible">
                    If you entered as interviewer, you may perform such actions like adding new test (click "Add new test" button), editing existing
                    tests (click "Edit" button in front of necessary test), deleting tests (click "Delete" button in front
                    of necessary test), choosing groups that will pass the test(click "Assign test to groups" button) and
                    looking through the statistic table(click "Look through the report" button).
                    <img src="help/interviewer.jpg" style="width:100%;">
                    <p class="listof">Page of test adding</p>
                    If you click "Add new test" button, you will see the page on which you can create your own test. You can enter name of test,
                    text of each question, and several variants of answers(but not more than 5), also you can choose type
                    of answers, which will define how many answers can a respondent choose(single-only one, multiple-several).
                    If you have chosen "Edit" option you will see the same page as for test adding but with already filled
                    fields. All actions are similar.
                    <img src="help/addtest1.jpg" style="width:100%;">
                    <img src="help/addtest2.jpg" style="float:left;" class="infoImage"> On the bottom of a page you can see
                    three buttons. "Add another question" to create one more question, the empty form will appear under existing
                    questions. "Save test" to save the test and add it to your test collection. And "Reset" to clear all
                    fields.
                    <p class="listof">Page of report</p>
                    If you click "Look through the report" button, you will see the page on which you can see the results for every question
                    and answer variant in percents from all given answers and write a recall to the respondent to alert him
                    about test results. At first you shall choose group for which you want to see a report. All results are
                    displayed in a table. To see full text of an answer variant you shall hover variant with a pointer. To
                    see statistics for one question click on the name of needed test. In a textbox below you can type a recall
                    and send it to the respondent by clicking "Send recall" button.
                    <img src="help/report.jpg" style="width:100%;">
                    <p class="listof">Page of test assignation</p>
                    If you have chosen to "Assign test to groups" you will see a page with the hierarchy of all available groups. To add group
                    to list of groups which will pass the test click on the group name and then click "Assign test". You
                    can choose the last acceptance date or delete group from assigned by clicking on the group's name in
                    the list and then clicking "Design group".
                    <img src="help/assign.jpg" style="width:100%;">
                </div>
            </div>
            <div class="respondent opw" (click)="changeVisible('respondent')">
                <p class="listof">Respondent's page</p>
                <div *ngIf="respondentVisible">
                    <div style="display:inline-block;">
                        <img src="help/respondent1.jpg" style="float:left;" class="infoImage"> If you entered as a respondent,
                        you may perform such actions like looking through suggested tests (click "Suggested tests" button),
                        looking through the recalls from interviewer (click "Completed tests" button), passing test (click
                        "Pass the test" button in front of necessary test).
                    </div>
                    <div style="display:inline-block;">
                        <p class="listof">Completed tests</p>
                        <img src="help/respondent2.jpg" style="float:right;" class="infoImage"> If you click the button "Completed
                        tests" you will see a page with completed tests and recalls for them(if interviewer has already written
                        it). For the purposes of convenience all recalls are displayed in a short form, to see full version
                        just click on it.
                    </div>
                    <div style="display:inline-block;">
                        <p class="listof">Test passing</p>
                        <img src="help/testpass.jpg" style="float:left;" class="infoImage"> If you click "Pass the test"
                        button in front of necessary test you will see the test passing page. Here you can answer questions
                        by clicking on the appropriate variant of answer. If variants of a question have circles, you can
                        choose only one answer. And if variants have squares, you can choose many variants of answers, but
                        not less than one. When you finished the test click "Finish" button to save answers and come back
                        to the interviewers page. If you want to cancel all answers press "Reset" button.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>