<div class="mainContainer">
	<div class="testsContainer">
		<p class="listof" style="margin-bottom:0px;">My tests</p>
		<div class="lloc"><a class="buttonR" (click)='moveToCreateTest(test)'>Add new test</a></div>

		<div class="testInterv" *ngFor="let test of tests">
			<div class="testShort">{{ test.Name }}</div>
			
			<div class="lloc">
				<a class="buttonR" (click)="moveToUpdateTest(test)">Edit</a>
				<a class="buttonR" (click)="deleteTestId = test.TestId">Delete</a>
				<a class="buttonR" (click)='moveToAssignTest(test)'>Assign test to groups</a>
				<a class="buttonR" (click)='moveToReport(test)'>Look through the report</a>
			</div>
		</div>
	</div>
</div>

<a href="#x" class="overlay" id="deletebox"></a>
<div class="popup show" *ngIf="deleteTestId != null">
	<p>Delete test</p>
	<p>Are you sure you want to delete test "{{getTestById(deleteTestId).Name}}" ? </p>
	<div style="text-align:center;">
		<a style="width:40%;" (click)="deleteTest(deleteTestId)" class="buttonS">Yes</a>
		<a style="width:40%;" class="buttonS" (click)="deleteTestId = null">No</a>
	</div>
	<a class="close" title="Закрыть" (click)='deleteTestId = null'></a>
</div>