<div class="header">
	<div class="greet"><img src="logo.png" />Social manager</div>

	<div class="dropdown">...</div>
	<div class="logoutbox" *ngIf='user != null'>
		<div class="persInf">Hello {{ user.surname }} <br/>You are {{ user.role }}</div>
		<a class="buttonS hiding" (click)='ProfEdit()'>Edit profile</a>
		<a class="buttonS hiding" (click)='LogOut()'>Log out</a>
	</div>
	<a class="info" title="Help" (click)='help()' *ngIf='!isHelpPage()'></a>
</div>

<div class="footer" *ngIf='errorMessage != null'>
	{{ errorMessage }}
</div>

<router-outlet> </router-outlet>