<div class="authForm">
	<p>Welcome! Please, log in</p>

	<form role="form" name="loginForm" (submit)="login()">
		<div class="form-group">
			<label class="rloc">Login</label>
			<input type="text" name="Login" class="add" placeholder="Enter your login" required [(ngModel)]='Login'
			pattern=".{6,21}" title="Login must be more than 6 characters and less than 21" >
		</div>

		<div class="form-group">
			<label class="rloc">Password</label>
			<input type="password" name="Password" class="add" placeholder="Enter your password" required 
			[(ngModel)]='Password' pattern=".{6,32}" title="Password must be more than 6 characters and less than 32" />
		</div>

		<button type="submit" class="btn btn-labeled btn-success" style="font-size: 30px;">Log in</button>
		<p>Don't have account? Please, <a routerLink="/register">sign in</a>.</p>
	</form>
</div>