<div class="authForm">
	<div class="back" (click)="back()">Back</div>
	<p>Welcome! Please, enter some information about you:</p>
	<form role="form" name="registerForm">
		<div class="form-group">
			<label class="rloc">Password</label>
			<input type="password" class="add" placeholder="Your password" required [(ngModel)]='user.password' 
			name='Password' pattern=".{6,32}">
		</div>
		<div class="form-group">
			<label class="rloc">Login</label>
			<input type="text" class="add" placeholder="Your login" required [(ngModel)]='user.login' name="Login">
		</div>
		<div class="form-group">
			<label class="rloc">Full name</label>
			<input type="text" class="add" placeholder="Your full name" required [(ngModel)]="user.surname" name="FullName">
		</div>
		<div class="form-group">
			<label class="rloc">Phone number</label>
			<input title="+38 (099) 999 99 99" pattern="\+38\s\(0\d\d\)\s\d{3}\s\d{2}\s\d{2}" type="text" class="add" placeholder="+38 (099) 999 99 99" required [(ngModel)]="user.phone" name="Phone">
		</div>
		<div class="form-group text-danger text-center" [hidden]='errorMessage == null'>
			{{ errorMessage }}
		</div>
		<button type="submit" class="btn btn-labeled btn-success" style="font-size: 30px;" (click)="Save()">
				Save
		</button>
	</form>
</div>