<div class="authForm">
	<p>Welcome! Please, enter some information about you:</p>
	<form role="form" name="registerForm" (ngSubmit)="register()">
		<div class="form-group">
			<label class="rloc">Email</label>
			<input type="email" class="add" placeholder="Enter your email" required [(ngModel)]='user.email' name='Email'>
		</div>
		<div class="form-group">
			<label class="rloc">Password</label>
			<input type="password" class="add" placeholder="Enter your password" required [(ngModel)]='user.password' 
			name='Password' pattern=".{6,32}" title="Password must be more than 6 characters and less than 32">
		</div>
		<div class="form-group">
			<label class="rloc">Login</label>
			<input type="text" class="add" placeholder="Enter your login" required [(ngModel)]='user.login' name="Login"
			pattern=".{6,21}" title="Login must be more than 6 characters and less than 21">
		</div>
		<div class="form-group">
			<label class="rloc">Full name</label>
			<input type="text" class="add" placeholder="Enter your full name" required [(ngModel)]="user.surname" 
			name="FullName" pattern=".{6,25}" title="Full name must be more than 6 characters and less than 25">
		</div>
		<div class="form-group">
			<label class="rloc">Phone number</label>
			<input title="+38 (099) 999 99 99" pattern="\+38\s\(0\d\d\)\s\d{3}\s\d{2}\s\d{2}" type="text" class="add" placeholder="+38 (099) 999 99 99" required [(ngModel)]="user.phone" name="Phone">
		</div>
		<button type="submit" class="btn btn-labeled btn-success" style="font-size: 30px;">
			Sign in
		</button>
	</form>
</div>