	<div class="mainContainer">
		<div class="hierarchy groupAssignation">
			
            <div class="back" routerLink='/interviewer'>Back</div>

			<select size="1" class="select" *ngIf='groups.length > 0' [(ngModel)]='selectedGroupName' (change)='groupChanged($event.target.value)'>
				<option disabled>Choose group</option>
                <option *ngFor='let group of groups' [value]='group.Name'>{{ group.Name }}</option>
			</select>

            <select size="1" class="select" *ngIf='groups.length == 0'>
				<option disabled>Choose group</option>
                <option selected value='No groups '>No groups</option>
			</select>
			<p class="listof">Table of results</p>
			<div class="resultTable">
				<table *ngIf='testModel != null && testModel.questions'>
					<tr *ngIf='selectedQuestion != null'>
						<td>Questions / Answers</td>
                        <td *ngFor='let answer of  selectedQuestion.answers'>{{ answer.text }}</td>
                        <td *ngFor='let item of getArray(maxAnswers - selectedQuestion.answers.length)'> <td>
					</tr>
                    <tr *ngIf='selectedQuestion == null'>
                        <td> Select question </td>
                    </tr>
                    <tr *ngFor='let question of testModel.questions' (click)='selectedQuestion = question;'>
						<td>{{ question.text }}</td>
                        <td *ngFor='let answer of question.answers'> {{ getPercent(question.text, answer.text) }} </td>
                        <td *ngFor='let item of getArray(maxAnswers - question.answers.length)'> <td>
					</tr>
				</table>
                <table *ngIf='testModel == null'>
                    Loading data from server
                </table>
			</div>
			<p class="listof">Write a recall message</p>
			<textarea class="textarea" placeholder="Input your recall here..." [(ngModel)]='feedback.Text'></textarea>
			<a class="buttonR" (click)='SendFeedback()'>Send recall</a>
		</div>
	</div>