<div class="mainContainer">
	<div class="respondentTools">
		<a class="buttonS respTool" (click) = "mode = SUGGESTED_MODE">Suggested tests</a>
		<a class="buttonS respTool" (click) = "mode = PASSED_MODE">Completed tests</a>
	</div>
	<div class="testsContainer respTest" *ngIf = "mode == SUGGESTED_MODE">
		<p class="listof" style="margin-bottom:0px;">Suggested tests</p>

		<div class="testInterv" *ngFor="let test of suggestedTests">
			<div class="testShort">{{ test.Name }}</div>
			<div class="lloc">
				<a class="buttonR" (click) ="moveToPassTest(test)">Pass the test</a>
			</div>
		</div>
	</div>

	<div class="testsContainer respTest" *ngIf="mode == PASSED_MODE">
		<p class="listof" style="margin-bottom:0px;">Completed tests</p>
        <div class="testInterv" *ngFor="let test of passedTests">
			<div class="testShort h3">{{ test.Name }}</div>
			
            <div class="testShort">Recall: (click to read more)</div>
			
            <div [class]='shownTest == test ? "recall full" : "recall"' (click)='toggleFeedback(test)'>
                {{ test.FeedbackMessage }}
            </div>
		</div>
	</div>
</div>