<div class="mainContainer">
	<div class="hierarchy groupAssignation">
		<div class="back" (click)="back()">Back</div>
		<p class="listof  h3" style="margin-bottom:0px;">{{ testViewModel.name}}</p>
		<form (submit)="saveTest()" method='post' name='testPassing'>
			<div class="question" *ngFor="let question of testViewModel.questions">
				<div class="testShort">{{ question.text }}</div>
				<div class="variants" *ngFor="let answer of question.answers">

					<input *ngIf="question.type == 0" type="radio" class="radio" name="{{ question.questionId }}" 
					value="{{ answer.text }}" id="{{ answer.answerId }}" required
					(change)="saveSingleAns(question.questionId, answer.answerId)" />
					<label *ngIf="question.type == 0" [htmlFor]="answer.answerId" >{{ answer.text }}</label><br />
					
					<input *ngIf="question.type == 1" type="checkbox" class="checkbox" name="{{ question.questionId }}" 
					value="{{ answer.text }}" id="{{ answer.answerId }}"
					(change)="saveMultipleAns(question.questionId, answer.answerId)" />
					<label *ngIf="question.type == 1" [htmlFor]="answer.answerId" >{{ answer.text }}</label><br />

				</div>
			</div>
			<div class="form-group text-danger text-center" [hidden]='errorMessage == null'>
				{{ errorMessage }}
			</div>
			<input type="submit" class="buttonR testOption" value="Finish"/>
			<input type="reset" class="buttonR testOption" value="Reset" />
		</form>
	</div>	
</div>