<div class="mainContainer">
    <div class="hierarchy groupAssignation">
		<div class="back">Back</div>
			<p class="listof  h3" style="margin-bottom:0px;">Enter test name</p>
			<form method="post">
	    		<input type="text" name="testName" class="add ans ans1" required placeholder="test name"/>
				<div class="question">
				    <textarea type="text" name="questionText" class="textarea" placeholder="Question text..."></textarea>
					<div class="testShort">Answers:</div>
					<select size="1" class="select relativeSelect">
						<option disabled>Choose type</option>
						<option selected value="radio">radio button</option>
						<option value="checkbox">checkbox</option>
				   </select>
				   <div class="form-group variant">
					   <div class="testShort rloc">Variant 1</div>
					   <input type="text" name="variant1" class="add ans" required />
				</div>
				<div class="form-group variant">
				   <div class="testShort rloc">Variant 2</div>
				   <input type="text" name="variant1" class="add ans" required />
				</div>
				   <a class="buttonR">Add another variant</a>
			</div>
			<div class="question">
				<textarea type="text" name="questionText" class="textarea" placeholder="Question text..."></textarea>
				<div class="testShort">Answers:</div>
				<select size="1" class="select relativeSelect">
					<option disabled>Choose type</option>
					<option selected value="radio">radio button</option>
					<option value="checkbox">checkbox</option>
			   </select>
			   <div class="form-group variant">
				   <div class="testShort rloc">Variant 1</div>
				   <input type="text" name="variant1" class="add ans" required />
			   </div>
			   <a class="buttonR">Add another variant</a>
			</div>
			<div class="question">
				<textarea type="text" name="questionText" class="textarea" placeholder="Question text..."></textarea>
				<div class="testShort">Answers:</div>
				<select size="1" class="select relativeSelect">
					<option disabled>Choose type</option>
					<option selected value="radio">radio button</option>
					<option value="checkbox">checkbox</option>
			   </select>

				<div class="form-group variant">
				   <div class="testShort rloc">Variant 1</div>
				   <input type="text" name="variant1" class="add ans" required />
				</div>
				<div class="form-group variant">
				   <div class="testShort rloc">Variant 2</div>
				   <input type="text" name="variant1" required class="add ans"  />
				</div>
				<a class="buttonR">Add another variant</a>
			</div>
			<a class="buttonR testOption aaq">Add another question</a>
			<input type="submit" class="buttonR testOption aa" value="Save test"/>
			<input type="reset" class="buttonR testOption aa" value="Reset"/>
		</form>
	</div>
</div>
		