<html>
	<head>
		<title>
		Test
		</title>
		<link rel="stylesheet" href="bootstrap.css">
		<link rel="stylesheet" href="style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
	</head>
	<body>
		<div class="header">
			<div class="greet"><img src="logo.png"/>Social manager</div>
			<div class="dropdown">...</div>
			<div class="logoutbox">
				<a class="buttonS hiding">Edit profile</a>
				<a class="buttonS hiding">Log out</a>
			</div>
		</div>
		<div class="mainContainer">
			<div class="hierarchy groupAssignation">
				<div class="back" (click)="back()">Back</div>
				<p class="listof  h3" style="margin-bottom:0px;">{{ testViewModel.name}}</p>
				<form method="post">
					<div class="question" *ngFor="let question from testViewModel.questions">
						<div class="testShort">{{ question.text }}</div>
						<div class="variants">
							<input *ngIf="question.type == SingleAnswer" *ngFor="let answer from question.answers"type="radio" class="radio" name="{{ question.questionId }}" value="{{ answer.text }}" id="{{ answer.answerId }}"/><label for="{{ answer.answerId }}">{{ answer.text }}</label></br>
							<input *ngIf="question.type == MultipleAnswer" *ngFor="let answer from question.answers"type="radio" class="radio" name="{{ question.questionId }}" value="{{ answer.text }}" id="{{ answer.answerId }}"/><label for="{{ answer.answerId }}">{{ answer.text }}</label></br>
						</div>
					</div>
					<input type="submit" class="buttonR testOption" value="Finish" (click)="saveTest()"/>
					<!--<input type="reset" class="buttonR testOption" value="Reset"/>-->
				</form>
			</div>	
		</div>	
		<script src="jQuery3.js"></script>
		<script src="jsProject.js"></script>
	</body>
</html>