body
{
color:#102403;
font-family: gabriola;
font-size:20px;
}
.persInf
{
width:100%;
color: white;
position:absolute;
text-align:right;
top:-8px;
right:240px;
font-size: 90%;
}
.footer
{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
height: 50px;
text-align: center;
opacity: .8;
z-index:10;
background-color: #ffccb4;
border-radius: 50px 50px 0 0;
border: 2px solid red;
border-bottom: none;
color: #7d0202;
padding-top: 10px;
font-size: 130%;
}
.h3
{
font-size:130%;
}
.radio {
	vertical-align: top;
	width: 17px;
	height: 17px;
	margin: 0 3px 0 0;
}
.radio + label {
	cursor: pointer;
}
.radio:not(checked) {
	position: absolute;
	opacity: 0;
}
.radio:not(checked) + label {
	position: relative;
	padding: 0 0 0 30px;
}
.radio:not(checked) + label:before {
	content: '';
	position: absolute;
	top: 3px;
	left: 0;
	width: 22px;
	height: 22px;
	border: 1px solid #CDD1DA;
	border-radius: 50%;
	background: #FFF;
}
.radio:not(checked) + label:after {
	content: '';
	position: absolute;
	top: 6px;
	left: 3px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #9FD468;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	opacity: 0;
	transition: all .2s;
}
.radio:checked + label:after {
	opacity: 1;
}
.radio:focus + label:before {
	box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}

.checkbox {
	vertical-align: top;
	width: 17px;
	height: 17px;
	margin: 0 3px 0 0;
}
.checkbox + label {
	cursor: pointer;
}
.checkbox:not(checked) {
	position: absolute;
	opacity: 0;
}
.checkbox:not(checked) + label {
	position: relative;
	padding: 0 0 0 30px;
}
.checkbox:not(checked) + label:before {
	content: '';
	position: absolute;
	top: 3px;
	left: 0;
	width: 22px;
	height: 22px;
	border: 1px solid #CDD1DA;
	border-radius: 20%;
	background: #FFF;
}
.checkbox:not(checked) + label::after {
	content: '';
	position: absolute;
	top: 6px;
	left: 3px;
	width: 16px;
	height: 16px;
	border-radius: 20%;
	background: #9FD468;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	opacity: 0;
	transition: all .2s;
}
.checkbox:checked + label:after {
	opacity: 1;
}
.checkbox:focus + label:before {
	box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}


.dropdown {
	width: 50px;
	display: none;
	height: 50px;
	background: #4a791a;
	color: white;
	font-size: 30px;
	border-radius: 10px;
	padding: 0 0 0 17px;
	position: absolute;
	right: 20px;
	top: 10px;
}
.dropdown:hover
{
background: linear-gradient(#4a791a,#85BA4F) #4a791a;
cursor:pointer;
}
.authForm
{
text-align: center;
margin: 50px auto auto;
font-size: 30px;
border: 3px solid #B8D45D;
border-radius: 30px 30px 30px 30px;
padding: 10px 40px;
max-width: 600px;
}
.header{
background-color: #bdd777;
border-radius: 0px 0px 40px 40px;
margin:0px;
border-bottom: 3px solid #F5FB10;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
padding:10px;
height:90px;
}
ul.ul-treefree {
 padding-left:25px; 
 font-size:20px;
 }
ul.ul-treefree ul {
 margin:0;
 padding-left:6px; 
 }
ul.ul-treefree li {
 position:relative;
 list-style:none outside none;
 border-left:solid 1px #999;
 margin:0;
 padding:3px 0 0 19px;
 line-height:23px; 
 }
ul.ul-treefree li:before {
 content:''; display:block;
 border-bottom:solid 1px #999;
 position:absolute;
 width:18px;
 height:11px;
 left:0;
 top:0; 
 }
 
ul.ul-treefree li:last-child {
 border-left:0 none; 
 }
ul.ul-treefree li:last-child:before {
 border-left:solid 1px #999; 
 }
 
 
.tool
{
width:100%;
}


.greet{
color:#fff;
padding: 0px 10px 15px 40px;
font-size:240%;
max-height:100%;
}
.hierarchy {
	border: #c1e083 2px solid;
	position: relative;
	margin: 20px 0px 20px 25px;
	border-radius: 10px;
	font-size: 130%;
	width: 50%;
	float:left;
	min-width:300px;
	padding:15px;
}
.usersTable
{
border: #c1e083 2px solid;
	position: relative;
	margin: 20px 0px 20px 25px;
	border-radius: 10px;
	font-size: 25px;
	width: 20%;
	float:left;
	min-width:170px;
}
table
{
width:100%;
/*font-size: 25px;*/
}
td
{
border-bottom:1px solid #c1e083;
/*min-width:35px;*/
padding-left:6px;
}
.creationTools {
	margin: 70px auto auto 6%;
	border-left: #c1e083 2px solid;
	padding: 10px;
	border-radius: 10px;
	width: 13%;
	min-width: 150px;
	float: left;
}

div.drop {
width:11px;
height:11px;
position:absolute;
z-index:10;
top:6px;
left:-6px;
background-image: url('plmn.png');
background-position:-11px 0;
background-repeat:no-repeat;
cursor:pointer;
}
.plusMinus:hover , .plusMinus:focus{
	background: linear-gradient(#426c18,#B0D733);
	text-decoration: none;
	color: white;
	border-bottom: 1px #40530D solid;
}

.logoutbox{
	position: absolute;
	right: 50px;
	top: 15px;
	font-size:23px;
	display:block;
}

.add {
	padding-left: 15px;
	margin: 0px;
	border-radius: 10px 10px 10px 10px;
	width: 260px;
	border: none;
	border-bottom: #5E7A2A solid 2px;
	border-right: #7C9846 solid 2px;
}
.buttonR{
	position: relative;
	background: #4a791a;
	color: #FFF;
	cursor: pointer;
	border-radius: 10px 10px 10px 10px;
	margin:3px;
	padding:0 5px;
	display:inline-block;
	border-bottom: 2px solid #4a791a;
	text-align: center;
}
 .buttonR:hover ,.buttonR:focus
 {
 background: linear-gradient(#4a791a,#85BA4F) #4a791a;
 border-bottom: 2px solid #F5FB10;
 	text-decoration: none;
	color: #FFF;
	display:inline-block;
 }

.imgd
{
border-radius: 20px 20px 0px 0px;
}


.rloc
{
text-align: right;
width:150px;
float: left;
margin-right: 10px;
}
.buttonS, .buttonS:link
{
	display: inline-block;
	color: white;
	padding: .1em 1em;
	outline: none;
	background: #4a791a;
	transition: 0.2s;
	border:none;
	text-decoration: none;
    border-bottom: 2px #F5FB10 solid;
	border-radius:0px;
}
.buttonS:hover,.buttonS:focus
{
background: linear-gradient(#4a791a,#85BA4F) #4a791a;

text-decoration: none;
color: white;
}
.buttonS:visited
{
text-decoration: none;
color: white;
}

.disabled, .disabled:hover
{
cursor:default;
background: #4a791a;
pointer-events: none;
}


img {max-width:100%;height:auto;}

.category:hover
{
background-color: #f9cf86;
border-radius: 5px;
text-decoration: none;
}
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;

}
/* активируем слой затемнения */
/*.overlay:target {
    display: block;
}*/
/* стили модального окна */
.popup {
text-align:center;
border: 3px solid #F6FF60;
    top: -100%;
    right: 0;
    left: 50%;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: fixed;
    padding: 15px;
    background: #fdffea;
    border-radius: 30px;
    font-size: 24px;

    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);

    transform: translate(-50%, -500%);

    transition: transform 0.6s ease-out;
}
/* активируем модальный блок */
.overlay:target+.popup {

    transform: translate(-50%, 0);
    top: 20%;
}
.show {
	transform: translate(-50%, 0);
    top: 20%;
}
/* формируем кнопку закрытия */
.close {
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;

    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);

    transform: rotate(360deg);    
}
.group {
	cursor: pointer;
	border-radius: 5px;
	display: inline-block;
	padding: 0px 3px 0px 4px;
}
.listof
{
margin: 15px;
max-width:300px;
}

.person {
	cursor: pointer;
	font-size: 120%;
}

.testsContainer
{
position:relative;
	border: #c1e083 2px solid;
	margin: 20px 0px 20px 25px;
	border-radius: 10px;
	font-size: 130%;
	width: 60%;
	padding:15px;
	left:17%;
}
.testInterv {
	width: 99%;
	border-radius: 10px;
	background-color: #eefcbf;
	margin: 5px 0px 5px 5px;
	display: inline-block;
}
.lloc {
	position: relative;
	padding: 5px;
	margin: 5px 0px 5px 5px;
	float: right;
}

.testShort {
	padding: 5px 5px 0px 10px;
}

.groupAssignation
{
	position: relative;
	left:16%;
	width:60%;
}
.groupsTable {
	border: #c1e083 2px solid;
	position: relative;
	margin: 0px;
	border-radius: 10px;
	font-size: 25px;
	width: 30%;
	float: right;
	min-width: 150px;
	padding: 10px;
}
.chosenGroup
{
cursor: pointer;
border-radius: 10px;
padding-left:10px;
}
.chosenGroup:hover{
background-color:#e2f5bd;
}
.hul
{
width:80%;
}
.lastDate {
	width: 100%;
	border: 2px solid #cae498;
	margin-left: 2px;
}
.back {
	display: inline-block;
	background: #4a791a;
	color: white;
	font-size: 20px;
	border-radius: 10px;
	padding: 0 10px;
	position: absolute;
	left: -1px;
	top: -1px;
}
.back:hover
{
background: linear-gradient(#4a791a,#85BA4F) #4a791a;
cursor:pointer;
}

.back-green {
	background-color: #4a791a;
	color: white;
}

.respondentTools {
	position: absolute;
	width: 60%;
	left: 17%;
	margin: 7px 0px 0px 31px;

}
.respTest {
	margin-top: 0px;
	position: absolute;
	top: 141px;
}
.respTool {
	width: 49%;
	margin: 0px;
	text-align: center;
	font-size: 26px;
	border-radius: 10px 10px 0 0;
}
.recall {
	height: 65px;
	margin: 0 10px 10px;
	overflow: hidden;
	border: 1px solid #d8e991;
	border-radius: 10px;
	background: #faffe4;
	box-shadow: 0 0 10px rgba(203, 227, 20, 0.3) inset;
	padding: 5px;
	cursor:pointer;
}
.question
{
	width: 99%;
	border-radius: 10px;
	background-color: #eefcbf;
	margin: 5px 0px 5px 5px;
	display: inline-block;
	padding:10px;
}
.variants
{
margin-left:30px;
}
.testOption
{
border: 2px solid #4a791a;
width: 20%;
position: relative;
left: 27%;
}
.resultTable
{
font-size:90%;
}
.textarea {
	width: 99%;
	border-color: yellowgreen;
	resize: vertical;
}
.select
{
	right: 10px;
	position: absolute;
	font-size: 75%;
	border-color: yellowgreen;
}
@media (min-width : 390px) and (max-width : 866px) {
	.infoImage
{
width:80%;
}
.logoutbox {
	position: absolute;
	right: 20px;
	top: 50px;
	font-size: 23px;
	display: none;
	width: 150px;
	z-index: 10;
	box-shadow: 0 0 10px rgba(249, 249, 249, 0.5);
}
.dropdown {
	display: block;
}
img{
width:70px;
}
.greet{
font-size:40px;
}
.usersTable {
	margin: 20px 0px 20px 25px;
	width: 90%;
}
.hierarchy {
	margin: 20px 0px 0px 25px;
	width: 90%;
	float: left;
}
.creationTools {
	margin: 20px auto auto 20px;
	border-left: #c1e083 2px solid;
	width: 30%;
	float: left;
	min-width:200px;
}
.hiding
{
width:100%;
}
.testsContainer {
	margin: 20px;
	font-size: 100%;
	width: 95%;
	left: 0%;
}
.groupAssignation
{
	position: relative;
	width:95%;
	left:0%;
	margin:10px;
}
.hul
{
width:60%;
}
.respTest {
	margin-top: 0px;
	margin-left:10px;
	margin-right:10px;
	width:97%;
}
.respondentTools {
	position: absolute;
	width: 98%;
	left: 0%;
	margin: 7px 0px 0px 10px;
}
.testOption
{
width: 35%;
left: 13%;
}
.persInf {
	position: relative;
	text-align: left;
	top: 0px;
	right: 0px;
	background-color: #4a791a;
	padding-left: 5px;
	border-bottom: 2px solid yellow;
}
.resultTable
{
font-size:75%;
margin: -5px;
}
}
@media (min-width : 266px) and (max-width : 389px) {
.info {
top: 60px;
right: 7px;
}
.infoImage
{
width:100%;
}
.logoutbox {
	position: absolute;
	right: 20px;
	top: 50px;
	font-size: 23px;
	display: none;
	width: 150px;
	z-index: 10;
	box-shadow: 0 0 10px rgba(249, 249, 249, 0.5);
}
.dropdown {
	display: block;
	border-radius:20px;
	top:5px;
	right:10px;

}
img{
width:50px;
}
.greet{
font-size:30px;
padding: 0px 10px 15px 0px;
}
.usersTable {
	margin: 5px 0px 20px 15px;
	width: 90%;
	min-width: 200px;
}
.hierarchy {
	margin: 0px 0px 0px 15px;
	width: 90%;
	float: left;
	min-width: 200px;
}
.creationTools {
	margin: 10px 0 0 7px;
	border: none;
	width: 95%;
	float: left;
}
.hiding
{
width:100%;
}
.header{
height: 70px;
}
.testsContainer {
	margin: 20px;
	font-size: 100%;
	width: 90%;
	left: 0%;
}
.groupAssignation
{
	position: relative;
	width:95%;
	left:0%;
	margin:10px;
	padding: 10px 5px 10px 5px;
}
.groupsTable {
	position: relative;
	width: 100%;
	float: none;
	top: 20px;
	margin-bottom: 10px;
}
.respTest {
	margin-top: -30px;
	margin-left:5px;
	margin-right:5px;
	width:99%;
}
.respondentTools {
	position: absolute;
	width: 100%;
	left: 0%;
	margin: 7px 0px 0px 5px;
}
.respTool {
	width: 49%;
	margin: 0px;
	text-align: center;
	font-size: 20px;
	border-radius: 10px 10px 10px 10px;
}
.testOption
{
width: 45%;
left: 3%;
}
.h3 {
	font-size: 100%;
}
.listof {
	margin: 15px 0 0;
	max-width: 300px;
}
.question {
	margin: 5px 0px 2px 0px;
	padding: 0px;
}
.variants {
	margin-left: 10px;
}
.persInf {
	position: relative;
	text-align: left;
	top: 0px;
	right: 0px;
	background-color: #4a791a;
	padding-left: 5px;
	border-bottom: 2px solid yellow;
}
.resultTable
{
font-size:70%;
margin: -5px;
}
td{
padding-left:0px;
border-left:solid 1 px;
}
}

.normal-link {
	color: black;
}

.normal-link.back-green {
	color: white;
}

.group-active {
	background-color: #dff0b3;
}

.btn-hidden {
	display: none;
}

.footer
{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
height: 50px;
text-align: center;
opacity: .8;
z-index:10;
background-color: #ffccb4;
border-radius: 50px 50px 0 0;
border: 2px solid red;
border-bottom: none;
color: #7d0202;
padding-top: 10px;
font-size: 130%;
}

.lastDate {
	width: 100%;
	border: 2px solid #cae498;
	margin-left: 2px;
}

#floatingCirclesG{
	position:relative;
	width:96px;
	height:96px;
	margin:auto;
	transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:17px;
	width:17px;
	border-radius:9px;
	animation-name:f_fadeG;
	animation-duration:0.572s;
	animation-iteration-count:infinite;
	animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:39px;
	animation-delay:0.2095s;
}

#frotateG_02{
	left:11px;
	top:11px;
	animation-delay:0.286s;
}

#frotateG_03{
	left:39px;
	top:0;
	animation-delay:0.3525s;
}

#frotateG_04{
	right:11px;
	top:11px;
	animation-delay:0.429s;
}

#frotateG_05{
	right:0;
	top:39px;
	animation-delay:0.4955s;
}

#frotateG_06{
	right:11px;
	bottom:11px;
	animation-delay:0.572s;
}

#frotateG_07{
	left:39px;
	bottom:0;
	animation-delay:0.6385s;
}

#frotateG_08{
	left:11px;
	bottom:11px;
	animation-delay:0.715s;
}

@keyframes f_fadeG{
	0%{
		background-color:rgb(78,120,23);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

.info {
top: 69px;
right: 7px;
width: 30px;
height: 30px;
position: absolute;
padding: 0;
border: 2px solid #deea6c;
border-radius: 15px;
background-color: rgba(106, 129, 60, 0.68);
box-shadow: 0px 0px 10px #499C1E;
text-align: center;
text-decoration: none;
font: 14px/24px 'Tahoma', Arial, sans-serif;
font-weight: bold;
transition: all ease .8s;
z-index:5;
}
.info::before {
color: rgb(255, 255, 255);
content: "?";
text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
font-size: 20px;
}
.info:hover {
background-color: rgba(234, 248, 17, 0.8);
transform: rotate(360deg);
text-decoration: none;
}
.infoImage
{
width:50%;
}
.opw {
/*height: 65px;*/
margin: 0 5px 5px;
border-left: 2px solid #cade89;
border-radius: 10px;
padding: 5px;
cursor: pointer;
}